@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #679bff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}
